@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Protest Revolution', sans-serif;
  --dark: #111;
  --light: #fffdfa;
  --grey-1: #333;
  --grey-2: #555;
  --grey-3: #ccc;
  --grey-4: #eee;
  --grey-5: #fafafa;
  --shadow-1: #0a0a0a;
  --shadow-2: #323232;
  --shadow-3: #050505;
  --shadow-4: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--grey-5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.container {
  background-color: var(--light);
  border-radius: 3px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}

.screen {
  /* display: none; */
  padding: 2rem;
  text-align: center;
}

.screen.active {
  display: block;
}

#start-screen h1 {
  color: var(--grey-1);
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.quiz-header {
  color: var(--grey-1);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  color: var(--grey-2);
  margin-bottom: 10px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.answer-btn {
  color: var(--grey-1);
  background-color: transparent;
  border: 1px solid var(--grey-1);
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.answer-btn:hover {
  color: var(--light);
  background-color: var(--grey-1);
}

