@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Protest Revolution', sans-serif;
  --dark: #111;
  --light: #fffdfa;
  --transitioning: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 45px;
  font-family: 'Protest Revolution', sans-serif;
  color: var(--light);
}

canvas {
  background: var(--dark);
  display: block;
  border: 1px solid var(--light);
}

.btn {
  cursor: pointer;
  border: 2px solid var(--light);
  padding: 10px 20px;
  background-color: transparent;
  color: var(--light);
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: var(--transitioning);
}

.btn:hover {
  background-color: var(--light);
  color: var(--dark);
}

.modal-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark);
  color: var(--light);
  line-height: 1.5;
  min-height: 100vh;
  width: 400px;
  padding: 20px 40px;
  transform: translateX(-400px);
  transition: var(--transitioning);
}

.modal.show {
  transform: translateX(0);
}




