@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Protest Display', sans-serif;
  --main: #ff4500;
  --support: #008080;
  --dark: #111;
  --light: #fffdfa;
  --grey-1: #333;
  --grey-2: #999;
  --grey-3: #ccc;
  --grey-4: #eee;
  --grey-5: #fafafa;
  --transition: all 0.5s ease-in-out;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 300;
  text-decoration: none;
  list-style: none;
}

.logo-text {
  font-family: var(--logo-font);
}

.transitioning {
  transition: var(--transition)
}

