@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Protest Revolution', sans-serif;
  --main: #ff4500;
  --support: #008080;
  --dark: #111;
  --light: #fffdfa;
  --grey-1: #333;
  --grey-2: #999;
  --grey-3: #ccc;
  --grey-4: #eee;
  --grey-5: #fafafa;
  --shadow-1: #0a0a0a;
  --shadow-2: #323232;
  --shadow-3: #050505;
  --shadow-4: #222;

  --transition-1: all 0.5s ease-in-out;
  --transition-2: all 0.25s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 300;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.section-heading {
  font-size: 10rem;
  text-align: center;
  opacity: 0.1;
}

.text-light {
  color: var(--light);
  font-family: var(--logo-font);
}

.text-dark {
  color: var(--dark)
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--grey-5);
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(204, 204, 204, 0.8);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}

.floating-bg::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
}

.floating-bg::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.5);
  filter: blur(40px);
  animation: pulse 6s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.4;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2;
  color: var(--grey-1);
  width: 1.2rem;
  word-wrap: break-word;
  text-align: center;
  transition: var(--transition-1);
}

.navbar-link:hover {
  width: 15rem;
  color: var(--light);
  background-color: var(--grey-1);
  transition: var(--transition-2)
}

.section-1-heading {
  font-size: 8rem;
  font-family: var(--logo-font);
  position: absolute;
  top: max(360px, 18vw);
  left: 50%;
  transform: translateX(-50%);
  color: var(--light);
  background-color: var(--dark);
  width: 85rem;
  text-align: center;
  padding: 0.6rem;
  opacity: 0.9;
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  font-size: 15rem;
  color: rgba(153, 153, 153, 0.8); 
}

.section-2 {
  background-color: var(--dark);
  color: var(--light);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-2 .section-heading {
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-size: 7rem;
  opacity: 0.15;
}

.games-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.game {
  width: 35rem;
  height: 50rem;
  background-color: var(--grey-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25rem;
  padding: 2rem;
  box-shadow: 
    inset 0.6rem 0.6rem 1.2rem var(--shadow-1), 
    inset -0.6rem -0.6rem 1.2rem var(--shadow-2);
  transition: box-shadow 0.4s ease, transform 0.4s ease
}

.game:hover {
  box-shadow:
    inset 1.2rem 1.2rem 2.4rem var(--shadow-3),
    inset -1.2rem -1.2rem 2.4rem var(--shadow-4);

  transform: translateY(0.3rem);
}

.game-text {
  font-size: 1.8rem;
  margin: 2.5rem 0;
  text-align: center;
}

.game-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
  box-shadow: 
    -0.6rem -0.6rem 1.2rem var(--shadow-2), 
    0.6rem 0.6rem 1.2rem var(--shadow-1);
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.game-img:hover {
  box-shadow:
    -1rem -1rem 2rem var(--shadow-4),
    1rem 1rem 2rem var(--shadow-3);
  transform: translateY(-0.3rem);
}

.game-name {
  font-size: 2rem;
  font-family: var(--logo-font);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1400px) {
  .floating-bg {
    top: -120vw;
  }

  .section-1-heading {
    font-size: 6rem;
    top: 25vw;
    width: 70rem;
  }

  .navbar-link {
    font-size: 2rem;
  }

  .logo {
    top: 75%;
  }

  .logo i {
    font-size: 10rem;
  }

  .section-heading {
    font-size: 8rem;
    margin-bottom: 10rem;
  }

  .section-2 {
    height: auto;
  }

  .games-wrapper {
    flex-wrap: wrap;
  }

  .game {
    margin: 5rem 10rem;
  }
}

@media (max-width: 1150px) {
  .floating-bg {
    top: -110vw;
  }

  .section-1-heading {
    font-size: 5rem;
    top: 30vw;
    width: 60rem;
  }

  .logo i {
    font-size: 9rem;
  }
}

@media (max-width: 950px) {
  .floating-bg {
    top: -100vw;
  }

  .section-1-heading {
    top: 40vw;
  }

  .navbar {
    justify-content: space-around;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 50%;
  }

  .floating-bg {
    top: -90vw;
  }

  .section-1-heading {
    top: 48vw;
  }

  .section-heading {
    margin-bottom: 5rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 45%;
  }

  .floating-bg {
    top: -70vw;
  }

  .section-1-heading {
    top: 65vw;
    width: 42rem;
    font-size: 3.5rem;
  }

  .section-heading {
    font-size: 6rem;
  }

  .game {
    margin: 5rem 0;
  }
}

